<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{first.details.paperName.value}}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="{{lodspk.home}}css/jquery.mobile-1.0.1.min.css" />
	<script src="{{lodspk.home}}js/jquery-1.6.4.min.js"></script>
	<script src="{{lodspk.home}}js/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<a href="#" data-rel="back" data-icon="arrow-l">Back</a>
		<h1>{{first.details.institutionName.value}}</h1>
		<a href="{{lodspk.home}}" data-ajax="false" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
	</div><!-- /header -->

	<div data-role="content">
<ul data-role="listview" >
<li data-role="list-divider">Papers related</li>
{%for row in models.papers%}
<li><a href='{{row.paper.value}}'>{{row.paperName.value}}</a></li>
{%endfor%}
</ul>	</div><!-- /content -->
</div><!-- /page -->

</body>
</html>
