BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//hacksw/handcal//NONSGML v1.0//EN
BEGIN:VEVENT
UID:uid1@example.com
ORGANIZER;CN=WWW2012:MAILTO:contact@www2012.org
DTSTART:20120314T170000Z
DTEND:20120314T180000Z
SUMMARY:{{first.details.paperName.value}}
END:VEVENT
END:VCALENDAR
